<!-- entries index  -->

<h1>All the users</h1>

	<% @users.each do |user| %>
		<p> <%= link_to user.name, user_path(user) %> </p>
	<% end %>

<h4><%= link_to "Create new account", new_user_path %></h4>
