

<div class="container">

	<h1>Pokedex</h1>

	<form>
		<input type="text" name="q" placeholder="Input pokemon id" class="pokeSearch" >
		<button id="searchPokemon">Search Pokemon</button>
	</form>

	 <div class="showPokemon"></div>
</div>
