<html>
	<body>
	<center>
	<h1> Welcome to THE SHOUTER! </h1>
	<a href="/"> HOME </a>
	<br>

	<h2> Log in </h2>
		<div>
			<form action="/login" method="POST">
				<p>Username</p>
				<input name="handle" type="text" size="25" />
				<p>Password</p>
				<input name="password" type="text" size="25" />
				<br><br>
			  	<input type="submit" name="action" value="Submit">
			</form>
		</div>

	</center>
	</body>
</html>