<html>
  <body>
    <h1>Calculate!</h1>

    <% ["add", "substract", "multiply", "divide"].each do |action| %>
      <form action="/calculate" method="post">
        <%= action.upcase %>
        <input name="action" value=<%= action %> type="hidden" />
        <input name="number_one" />
        <input name="number_two" />
        <input type="submit" value="GO!" />
      </form>
    <% end %>
  </body>
</html>
