<html>
  <body>
	<h1> Hi there! This is the new online calculator!</h1>

	<p> ADD </p>
	 
	 <form action="/add" method="post">
     	<input name="add1" />
      	<input name="add2" />
      	<input type="submit" />
   	 </form>
	
	
		
	<p> SUBSTRACTION </p>
 	 <form action="/substract" method="post">
      	<input name="subs1" />
      	<input name="subs2" />
      	<input type="submit" />
   	 </form>
	
	<p> MULTIPLICATION </p>
	 <form action="/multiply" method="post">
      	<input name="mult1" />
      	<input name="mult2" />
      	<input type="submit" />
   	 </form>

	<p> DIVISION </p>
	 <form action="/divide" method="post">
      	<input name="div1" />
      	<input name="div2" />
      	<input type="submit" />
   	 </form>

	

  </body>
</html>
