<div class="jumbotron" id="welcome-panel">
	<div class = "container">
		<div class="row">
			<div class="col-sm-7 col-sm-offset-2">
				<% if current_user %>
					<h1> Hello, <%= current_user.name.capitalize %>!</h1>
				<% else %>
					 <h1>Hello, world!</h1>
				<% end %>
			  <p>Best products everrr!</p>
				<%= link_to 'See all products', products_path, class:"btn btn-primary btn-lg" %>
			</div>
			<h3> New user? <br> <%= link_to "Create new account", new_user_path %> </h3>
		</div>
	</div>
</div>

