<h2><%= @user.name %></h2>
 
<h4>My products: </h4>
<% if @user.products.present?%>
	<ul>
		<%@user.products.each do |product| %>
			<li>
				<%= link_to product.title, user_product_path(@user.id, product.id) %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No products added yet! :(</p>
	
<% end %>


<%= link_to "Add new product", new_user_product_path(@user.id) %>
<br><br><br>
<%=link_to "Delete my account", @user, method: :delete, data: {confirm: "Are you sure? Please don't leave us! :("} %>

 