<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
		<h2> Edit review for <%= @product.title %> </h2>
		<%= render partial: 'reviews/review_form', review: @review, product: @product %>
			</div>
	</div>
</div>